

<section class="col-12 p-5 mb-5 text-center">
    <div class="container">
        <h4>
            Bizimlə hesabınız varsa, e-poçt ünvanına göndərmişik
            parolunuzu sıfırlamaq üçün təlimatlarla.
        </h4>
    </div>
</section>
