@model ResetPasswordViewModel

<section class="p-5 mb-5 col-12 text-center">
    <div class="container">
        <h1>Şifrənizi Yeniləyin</h1>
        <br />
        <div class="row">
            <div class="col-6">
                <form asp-action="ResetPassword">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Yeni Şifrə</label>
                        <input asp-for="Password" class="form-control shadow-none" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label">Eyni Şifrəni Qeyd Edin</label>
                        <input asp-for="ConfirmPassword" class="form-control shadow-none" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Email" class="form-control" />
                    <input type="hidden" asp-for="Token" class="form-control" />
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Yarat" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



