

<section class="col-12 p-5 mb-5 text-center">
    <div class="container">

        <h1>Şifrəniz yeniləndi</h1>
        <br />
        <p>
           Şifrəniz yeniləndi. Zəhmət olmasa <a asp-action="Login">bura tıklayın və hesabınıza daxil olun</a>.
        </p>
    </div>

</section>

