

<section id="error-page" class="col-12 p-5 mb-5">
    <div class="container">
        <div class="d-flex row">
            <div class="error-img col-5">
                <img src="~/assets/images/error-1.png" style="width:100%;"/>
            </div>
            <div class="error-title col-6">
                <h1>404</h1>
                <h2>Səyfə Tapılmadı!</h2>
             
                <p>Oops! The page you are looking for does not exist. It might have been moved or deleted.</p>
            </div>
        </div>
    </div>
</section>