@model Slider
@{
    ViewData["Title"] = "Create";
}


<div class="container-fluid mt-5">

    <h1>Yarat</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control" placeholder="Title" style="background-color: #295484; color: white;">
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="SubTitle">SubTitle</label>
                <input asp-for="SubTitle" class="form-control" placeholder="SubTitle" style="background-color: #295484; color: white;">
                <span class="text-danger" asp-validation-for="SubTitle"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label asp-for="Order">Order</label>
                <input asp-for="Order" class="form-control" placeholder="Order" style="background-color: #295484; color: white;">
                <span class="text-danger" asp-validation-for="Order"></span>
            </div>
            <div class="form-group col-md-10">
                <label asp-for="RedirectUrl">RedirectUrl</label>
                <input asp-for="RedirectUrl" class="form-control" placeholder="RedirectUrl" style="background-color: #295484; color: white;">
                <span class="text-danger" asp-validation-for="RedirectUrl"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="PosterFile">Şəkil</label>
                <br />
                <br />
                <input asp-for="PosterFile" class="form-control" placeholder="PosterFile" style="background-color: #295484; color: #295484;">
                <span class="text-danger" asp-validation-for="PosterFile"></span>
            </div>
        </div>
        @*<div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="ImageFile">ImageFile</label>
                    <input asp-for="ImageFile" class="form-control" placeholder="ImageFile">
                    <span class="text-danger" asp-validation-for="ImageFile"></span>
                </div>
            </div>*@
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>

    </form>
</div>
