@model OrderViewModel
@{
    ViewData["Title"] = "Sifariwim";
}

<section class="p-5 mb-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Sifariş</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Mehsulun adi</th>
                    <th scope="col">Mehsulun qiymeti</th>
                    <th scope="col">Şəkil</th>
                    <th scope="col">Mehsulun hazir olma tarixi</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.ProductName</td>
                    <td>@Model.Price AZN</td>
                    <td><img src="~/uploads/products/@Model.ProductImage" /></td>
                    <td>@Model.CreatedAt.AddDays(5).ToString("HH:mm dd MMM yyyy")</td>
                    <td>
                        
                            <span class="text-@(Model.Status== OrderStatus.Accepted?"success":Model.Status== OrderStatus.Rejected?"danger":Model.Status == OrderStatus.Ready?"warning":"light")">
                                <b>@(Model.Status== OrderStatus.Accepted?"Qəbul olunub":Model.Status== OrderStatus.Rejected?"Rədd edilib":Model.Status == OrderStatus.Ready?"Hazırdır":"Gözləmədədir")</b>    
                            </span>
                      
                    </td>
                </tr>

            </tbody>
        </table>
    </div>



</section>

