@model ProductViewModel

<ul class="header-search-list" style="list-style:none; width:100%; padding:0; margin:0;">
    @foreach (var item in Model.Products)
    {
        <li>

            <div class="srch-partial-left col-5">
                <img src="~/uploads/products/@item.ProductImages.FirstOrDefault(x => x.PosterStatus == true)?.Image" style="width:80%;" />

            </div>
            <div class="srch-partial-right col-7">
                <b>@item.Name</b>
                <br />
                <p>@item.Desc.Substring(0, 50)...</p>
                <a asp-action="detail" asp-controller="shop" asp-route-id="@item.Id">Detalli Bax</a>
            </div>
           
        </li>
    }
</ul>
